body {
  margin: 0;
  font-family: Oswald;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color:blanchedalmond;
  text-align: center; 
}

a{
  color: yellow;
  font-size: 32px;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#title{
  font-size: 64px;
  line-height: 0;
}

.film-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  border-style: dotted;
  border-color: greenyellow;
  border-width: 5px;
  width: 500px;
  background-color: rgba(42, 42, 133, 0.5);
}

#single-film{
  width:30%;
  padding: 10px;
  line-height: 25px;
}

#more-movies{
  border-style: groove;
  border-width: 5px;
  background-color: darkmagenta;
  padding: 5px;
}